body {
    margin: 0; 
    background-color:gray; 
    text-align: center;
}
p {
    font-size: 0px;
}
td {
    width: 10vw; 
    margin:5vh;
    height: 13.8vh; 
    text-align: center;
    font-size: 25px; 
    font-weight: bold; 
    color: black; 
    border: 1px solid white;

}
td:hover {
    background-color: gray;
}
input {
    width: 100%; 
    height: 100%;
     border: none; 
     font-size: 25px; 
     font-weight: bold; 
     padding: 0px 5px;
}

#shiftBtn {
    background-color: gray;
}